<section [class.container]="true">
  <h1>Component app</h1>
  <div class="form-control">
    <label>Enter task</label>
    <input
      type="text"
      [(ngModel)]="text"
      (keyup.enter)="addTask()"
    />
  </div>

  //
  //   "id": 7,
  //   "email": "michael.lawson@reqres.in",
  //   "first_name": "Michael",
  //   "last_name": "Lawson",
  //   "avatar": "https://s3.amazonaws.com/uifaces/faces/twitter/follettkyle/128.jpg"
  //

  <ul>
    <li
      *ngFor="let user of users$ | async"
      class="item-task"
    >
      <p> {{user.first_name + user.last_name}} </p>
      <p> {{user.email}}</p>

    </li>
  </ul>
</section>

