<section [class.container]="true">
  <h1>Component app</h1>
  <div class="form-control">
    <label>Enter task</label>
    <input
      type="text"
      [(ngModel)]="text"
      (keyup.enter)="addTask()"
    />
  </div>

  <ul>
    <li
      *ngFor="let todo of todos$ | async"
      class="item-task"
    >
      <input
        type="checkbox"
        (change)="completeTask(todo.id)"
        [checked]="todo.completed"
        class="item-checkbox"
      />
      <p [ngClass]="{'completeTask': todo.completed}">
        {{todo.text}}
      </p>

      <i
        class="large material-icons icon-task"
        (click)="removeTask(todo.id)"
      >clear</i>
    </li>
  </ul>
</section>

