<section [class.container]="true">
  <h1>Component app</h1>

  <button
    class="btn"
    (click)="addUser()"
  >
    ADD</button>

  <ul>
    <li
      *ngFor="let user of users$ | async"
      class="item-task"
    >
      <p [ngStyle]="{'color': user.color}"> {{user.name}}
        <span *ngIf="user.year">({{user.year}})</span>
      </p>
      <i
        (click)="removeUser(user.id)"
        class="material-icons icon-clear"
      >clear</i>
    </li>
  </ul>

  <div
    *ngIf="error$ | async as err"
  >
    <p class="text-warning">ERROR: {{err.message}}</p>
  </div>
</section>

